---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hi! My name is Johan Olarra <a href="https://www.linkedin.com/in/johan-uriel-olarra-rubio-a73701299/" target="_blank" rel="moopener"
				class="flex  justify-center items-center">
					<Badge>Disponible to Work</Badge>
				</a>
			</h1>

			<h2 class="text-xl opacity-80">1 año de experiencia, Desarrollador Web, Mexicano</h2>

			<ul></ul>
		</section>
	</main>
</Layout>