<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="ronunded-full w-12 h-12 " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvwsx752E2cT1vGQppB7FYWF6RuK_SITZno_lYrbE&s" alt="juordev"/>
    
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">HOME</a>
        <a href="/about">about</a>
        <a href="/proyects">Proyects</a>
        <a href="/contact">Contact</a>
    </nav>
    </header>